<!DOCTYPE css>
<html>
<head>
<title>THIS WEBSITE FILLS YOU WITH DETERMINATION</title>
</head>

@font-face {
	font-family: deter;
	src: url('https://raw.githubusercontent.com/sebfilg/fibonacci/fonts/DeterminationMonoWeb.woff') format('woff'),
	}

body{
	background-color: black !important;
}

h1{
	color: white;
	font-family: deter !important;
}
</html>
